
input[type="text"]:focus:not([readonly]), 
input[type="password"]:focus:not([readonly]), 
input[type="email"]:focus:not([readonly]), 
input[type="url"]:focus:not([readonly]), 
input[type="time"]:focus:not([readonly]), 
input[type="date"]:focus:not([readonly]), 
input[type="datetime-local"]:focus:not([readonly]), 
input[type="tel"]:focus:not([readonly]), 
input[type="number"]:focus:not([readonly]), 
input[type="search"]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #212121 !important;
    box-shadow: 0px 1px 0px 0px #212121 !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
	background-color: #212123;
  color: white;
}

.main {	
	margin-top: 75px;
}

.forecasts-box {
	height: 450px;
	overflow-y: scroll;
}

body, html {
  margin:0;
  padding:0;
  position:relative;
  height:100%;
}
.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background: #212123 no-repeat center center;
  background-image: url('./loading-animation.gif');
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

.search-button {
  margin-top: 10px;
}

#super-container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.neighbour {
  margin: 5px;
}

::-webkit-input-placeholder {
   color: white;  
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

.back {
  width: 400px;
  padding: auto;
}

.nav-wrapper {
  padding-left: 20px;
}

#search-form {
  margin-top: 50px;
}

td, tr {
  padding: 15px 45px 0px 45px;
}

table {
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
}
