<div ng-controller="ForecastsController" class="">
	<h4 class="white-text">City: {{forecasts.city.name}} / Country: {{forecasts.city.country}}</h4>
	<h5 class="white-text">Forecasts for the next 16 Days</h5>
	<div class="forecasts-box">
	
		<table class="forecasts highlight responsive-table">
			<thead>
				<tr>
					<th ng-click="sort_field = 'morn'; reverse_sort_field = !reverse_sort_field">Morning</th>
					<th ng-click="sort_field = 'day'; reverse_sort_field = !reverse_sort_field">Day</th>
					<th ng-click="sort_field = 'eve'; reverse_sort_field = !reverse_sort_field">Evening</th>
					<th ng-click="sort_field = 'night'; reverse_sort_field = !reverse_sort_field">Night</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="forecast in forecasts.list | orderBy:sort_field:reverse_sort_field" ng-cloak="">
					<td>{{forecast.temp.morn | fahreinheit}}&deg;F</td>
					<td>{{forecast.temp.day | fahreinheit}}&deg;F</td>
					<td>{{forecast.temp.eve | fahreinheit}}&deg;F</td>
					<td>{{forecast.temp.night | fahreinheit}}&deg;F</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
	<a ng-click="reset()" class="search-button btn-flat btn-large amber white-text">Search Again!</a>
	</div>
</div>
